.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  max-width: 484px;
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

.place__paragraph:nth-of-type(2n) {
  margin-top: 26px;
  grid-row: 3;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;

  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    grid-column: 1;
    grid-row: 5;
  }

  .place__paragraph:nth-of-type(2n) {
    margin-top: 25px;
    grid-row: 6;
  }
}
