.place__link {
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .4s ease;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .place__link {
    margin-left: 16px;
  }
}
